{% if not user %}
    <div class="ui fluid card" id="signin-box">
        <div class="content">
            <div class="header">Sign in</div>
        </div>
        <div class="content">
            {% partial __SELF__ ~ '::signin' %}
        </div>
    </div>

{% else %}

    {% partial __SELF__ ~ '::activation_check' %}

    {% partial __SELF__ ~ '::update' %}

    {% partial __SELF__ ~ '::deactivate_link' %}

{% endif %}
