.text-center {
    text-align: center !important;
}

.knobwidget-container {
    margin: 0 auto;
}

.wickedpicker {
    z-index: 9000;
}

body {
    background-color: #fafafa;
    height: auto;
}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding-bottom: 5px;
    z-index: 2000;
}

.app-header h4 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 18px;
}

.app-header-icon {
    position: fixed;
    right: 10px;
    top: 5px;
    max-height: 36px;
}

.app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.app-footer a {
    border-radius: 0 !important;
    z-index: 2000;
}

.app {
    margin-top: 60px;
    margin-bottom: 100px;
}

.checkbox {
    z-index: 0 !important;
}

.responsive-table {
    max-width: 100%;
    overflow: auto;
}

.dark-blue-text {
    color: #2C497F !important;
}

.navi-element {
    background-color: #2185d0
}