==
<!DOCTYPE html>
<html>
<head>
    <title>LightMan</title>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{{ 'assets/images/icon.png'|theme }}" />
    <link rel="apple-touch-icon" sizes="128x128" href="{{ 'assets/images/icon.png'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/semantic.min.css'|theme }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}"/>
</head>
<body>

{% page %}

<script src="{{ ['assets/js/jquery.min.js',
'assets/js/semantic.min.js',
'assets/js/knob.min.js']|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>
