title = "Add Task"
url = "/add-task"
layout = "default"
is_hidden = 0

[add_task]
==
<link rel="stylesheet" href="{{ 'assets/css/wicketpicker.min.css'|theme }}"/>
<div class="ui fluid container">
    <form class="ui form" data-request="onAddTask">
        {% partial "elements/app-header" %}
        <div class="app">
            {% component "add_task" %}
        </div>
        <div class="ui blue text-center app-footer navi-element">
            <div class="ui three columns grid">
                <div class="column">
                    <a href="/tasks" class="ui big fluid blue button"><i class="ui undo icon"></i></a>
                </div>
                <div class="column"></div>
                <div class="column">
                    <button class="ui big blue fluid button"><i class="ui check icon"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

{% put scripts %}
<script src="{{ 'assets/js/wicketpicker.min.js'|theme }}"></script>
<script>
  $('.timepicker').wickedpicker({
    twentyFour: true,
    timeSeparator: ':'
  })
</script>
{% endput %}