title = "Schedule Sleep"
url = "/device/:slug"
layout = "default"
is_hidden = 0

[sleep]
==
<div class="ui fluid container">
    {% partial "elements/app-header" %}
    <div class="app">
        {% component "sleep" %}
    </div>
    <div class="ui blue text-center app-footer navi-element">
        <div class="ui three columns grid">
            <div class="column">
                <a href="/" class="ui big fluid blue button"><i class="ui undo icon"></i></a>
            </div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
    </div>
</div>