title = "Your Devices"
url = "/"
layout = "default"
is_hidden = 0

[device_manager]
==
<div class="ui fluid container">
    {% partial "elements/app-header" %}
    <div class="app">
        {% component 'device_manager' %}
    </div>
    <div class="ui blue text-center app-footer navi-element">
        <div class="ui three columns grid">
            <div class="column">
                <a href="/" class="ui big fluid blue button"><i class="ui refresh icon"></i></a>
            </div>
            <div class="column"></div>
            <div class="column">
                <a href="/tasks" class="ui big fluid blue button"><i class="ui tasks icon"></i></a>
            </div>
        </div>
    </div>
</div>