title = "Sign In"
url = "/signin"
layout = "unlogged"
is_hidden = 0

[device_manager]

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
<div class="ui fluid container">
    {% partial "elements/app-header" %}
    <form class="ui form"
          data-request="onSignin">
        <div class="app">
            <div id="login-box">
                {% component 'account' %}
            </div>
        </div>
        <div class="ui blue text-center app-footer navi-element">
            <div class="ui three columns grid">
                <div class="column"></div>
                <div class="column">
                    <button class="ui big fluid blue button"><i class="ui check icon"></i></button>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </form>
</div>

{% put scripts %}
<script>
  /* sorry i'm just too tired with this bs */
  var box = $('#signin-box')
  var boxHeight = box.height()
  var bodyHeight = $(document).height()
  box.css({'margin-top': (bodyHeight / 2) - (boxHeight / 2)})
</script>
{% endput %}