title = "Scheduled Tasks"
url = "/tasks"
layout = "default"
is_hidden = 0

[task_list]

==
<div class="ui fluid container">
    {% partial "elements/app-header" %}
    <div class="app">
        {% component "task_list" %}
    </div>
    <div class="ui blue text-center app-footer navi-element">
        <div class="ui three columns grid">
            <div class="column">
                <a href="/" class="ui big fluid blue button"><i class="ui undo icon"></i> </a>
            </div>
            <div class="column"></div>
            <div class="column">
                <a href="/add-task" class="ui big fluid blue button"><i class="ui plus circle icon"></i></a>
            </div>
        </div>
    </div>
</div>