<div class="app-header navi-element">
    <div class="ui grid">
        <div class="twelve wide column">
            <h4><i class="ui lightbulb icon"></i> {{ this.page.title }}</h4>
        </div>
        <div class="four wide column">
            <img src="{{ 'assets/images/icon.png'|theme }}" class="app-header-icon"/>
        </div>
    </div>
</div>